.table_container {
    max-width: 400px;
    margin: auto;
    text-align: left;
    font-size: small;
 
}

.table_container th {
    font-size: medium;
}

.table_container td {
    font-size: small;
}
.table_container span {
    cursor: pointer;
}