.table_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 5px;
    text-align: left;
    font-size: small;
    margin-bottom: 65px;
    gap: 10px;
}

.list-group {
    margin: 0px;
    max-width: 320px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: .2s;
    width: 100%;
    height: fit-content;
    overflow: auto;
    transition: .2s ease-in-out;
}

.list-group::-webkit-scrollbar {
    width: 5px;
    display: none;
    transition: .2s ease-in-out;
    border-radius: 10px;
}
.list-group:hover::-webkit-scrollbar {
  width: 5px;
  display: block;
  transition: 1s ease-in-out;
  border-radius: 10px;
}

.list-group::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.list-group::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0px 10px 10px 0px;
}

.list-group::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.list-group-item {
  max-width: inherit!important;
  background-color: #f6f3e4;
}

.list-group:hover{
  box-shadow: rgba(0, 0, 0, 0.486) 0px 3px 10px;
  transition: .2s;
}

.contactList {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.contactList p {
    margin: 0;

}

.table_container span {
    cursor: pointer;
}

.edit_icon {
    width: 20px;
    position: absolute;
    right: 10px;
    top: 2px;
    cursor: pointer;
}

.edit_icon:hover {
    width: 22px;
}

.delete-doc {
    width: 20px;
    position: absolute;
    right: 10px;
    top: 25px;
    cursor: pointer;
}

.delete-doc:hover {
    width: 22px;
}

.toast {
    position: absolute !important;
    z-index: 5 !important;
}

.confirm-delete {
    width: 30px;
    cursor: pointer;
}

.job-link {
  word-wrap: break-word;
    word-break: break-all;
    height: 20px;
    margin: 0px;
    overflow: hidden;
}







.scale-out-ver-top {
	-webkit-animation: scale-out-ver-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-ver-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


/**
 * ----------------------------------------
 * animation scale-out-ver-top
 * ----------------------------------------
 */
 @-webkit-keyframes scale-out-ver-top {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-out-ver-top {
    0% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  