.App {
  text-align: center;
  height: 100vh;
  position: relative;
}


/* Custom font */
@font-face {
  font-family: myFont;
  src: url("./fonts/Voice In My Head.otf");
}

h1 {
  font-family: myFont;
  text-align: center;
    color: #f6f3e4;
    font-size: 70px;
    text-shadow: 0.03709435em 0.05936337em 0em rgba(253, 97, 85, 0.500000), 0.0741887em 0.11872673em 0em rgba(253, 97, 85, 0.300000);
}

.sing_btn_container {
  position: absolute;
  right: 10px;
  top: 10px;

}

.sign_in {
margin: 3px;
background-color: ;
 
}

.sign_up {
  margin: 3px;
}