.App {
  text-align: center;
  height: 100vh;
  position: relative;
}


/* Custom font */
@font-face {
  font-family: myFont;
  src: url("./fonts/Voice In My Head.otf");
}

h1 {
  font-family: myFont;
}

.sing_btn_container {
  position: absolute;
  right: 10px;
  top: 10px;

}

.sign_in {
margin: 3px;
background-color: ;
 
}

.sign_up {
  margin: 3px;
}